<h1>Aanpassen SKU</h1>

<%= render 'form' %>

<%= link_to 'Weergeven', @article, :class=> 'whitetext' ' ' 'button tiny' %>
<%= link_to 'Terug', articles_path, :class=> 'whitetext' ' ' 'button tiny' %>
